@tailwind base;
@tailwind components;
@tailwind utilities;



/* Variables Globales */

:root {
   /* Variables para el tema claro */ 
  --header-background: #f3f4f6; /* Fondo del header en modo claro */
  --header-text: #1d4ed8; /* Texto del header en modo claro */
  --background: #ffffff; /* Fondo de la página en modo claro */
  --text-color: #1f2937; /* Texto principal en modo claro */

  --icon-user: #3b82f6; /* Color del ícono del usuario en modo claro */
  --message-user-background: #b3e0ff; /* Fondo del mensaje de usuario en modo claro */
  --message-user-text: #1a1a1a; /* Texto del mensaje de usuario en modo claro */
  --icon-bot: #1f2937; /* Color del ícono del bot en modo claro */
  --message-bot-background: #f5f5f5; /* Fondo del mensaje del bot en modo claro */
  --message-bot-text: #1a1a1a; /* Texto del mensaje del bot en modo claro */
  --bot-typing: #1a1a1a; /* Texto de "bot typing" en modo claro */

  --input-container-background: #f3f4f6; /* Fondo del contenedor del input en modo claro */
  --input-background: #ffffff; /* Fondo del input en modo claro */
  --input-text: #1f2937; /* Texto del input en modo claro */
  --input-border: #d1d5db; /* Borde del input en estado normal en modo claro */
  --input-focus-border: #93c5fd; /* Borde del input en foco en modo claro */
  --input-placeholder: #6b7280; /* Placeholder en modo claro */
  --disabled-opacity: 0.5; /* Opacidad cuando el input está deshabilitado */
  --disabled-cursor: not-allowed; /* Cursor cuando el input está deshabilitado */

  --button-background: #e5e7eb; /* Fondo del botón en modo claro */
  --button-hover-background: #93c5fd; /* Fondo al hacer hover en modo claro */
  --button-disabled-background: #d1d5db; /* Fondo del botón deshabilitado en modo claro */
  --button-icon-color: #1f2937; /* Color del ícono del botón en modo claro */
  --button-disabled-opacity: 0.5; /* Opacidad cuando el botón está deshabilitado */
  --button-disabled-cursor: not-allowed; /* Cursor cuando el botón está deshabilitado */

  --text--footer: #1a1a1a;

}



[data-theme='dark'] {
   /* Variables para el tema oscuro */  
    --header-background: #1f2937; /* Fondo del header en modo oscuro */
    --header-text: #60a5fa;; /* Texto del header en modo oscuro */
    --background: #0f172a; /* Fondo de la página en modo oscuro */
    --text-color: #e5e7eb; /* Texto principal en modo oscuro */
  
    --icon-user: #60a5fa; /* Color del ícono del usuario en modo oscuro */
    --message-user-background: #1e40af; /* Fondo del mensaje de usuario en modo oscuro */
    --message-user-text: #e5e7eb; /* Texto del mensaje de usuario en modo oscuro */
    --icon-bot: #e5e7eb; /* Color del ícono del bot en modo oscuro */
    --message-bot-background: #334155; /* Fondo del mensaje del bot en modo oscuro */
    --message-bot-text: #e5e7eb; /* Texto del mensaje del bot en modo oscuro */
    --bot-typing: #e5e7eb; /* Texto de "bot typing" en modo oscuro */
  
    --input-container-background: #1f2937; /* Fondo del contenedor del input en modo oscuro */
    --input-background: #0f172a; /* Fondo del input en modo oscuro */
    --input-text: #e5e7eb; /* Texto del input en modo oscuro */
    --input-border: #334155; /* Borde del input en estado normal en modo oscuro */
    --input-focus-border: #60a5fa; /* Borde del input en foco en modo oscuro */
    --input-placeholder: #94a3b8; /* Placeholder en modo oscuro */
    --disabled-opacity: 0.5; /* Opacidad cuando el input está deshabilitado */
    --disabled-cursor: not-allowed; /* Cursor cuando el input está deshabilitado */
  
    --button-background: #374151; /* Fondo del botón en modo oscuro */
    --button-hover-background: #4f6d8f; /* Fondo al hacer hover en modo oscuro */
    --button-disabled-background: #4b5563; /* Fondo del botón deshabilitado en modo oscuro */
    --button-icon-color: #e5e7eb; /* Color del ícono del botón en modo oscuro */
    --button-disabled-opacity: 0.5; /* Opacidad cuando el botón está deshabilitado */
    --button-disabled-cursor: not-allowed; /* Cursor cuando el botón está deshabilitado */
  
    --text-footer: #e5e7eb; /* Color del texto del footer en modo oscuro */
  
  }
